# Environment variables
.env
*.env

# Python
.venv/
venv/
env/
dist/
build/
*.pyc
__pycache__/

# Firebase
firebase-service-account.json

# Local Data / Scraping Results
resultados/
*.json.html
logs/

# IDEs
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Markdowns
md/

# Agents
.agent/
